.create-greenhouse-container {
  display: flex;
  width: 800px;
  height: auto;
  justify-content: space-between;
  &__image-container {
    width: 48%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( to bottom, #EFEFEF, #FBFBFB, #FFFFFF);
    border: 0;
    border-radius: 10%;
    text-decoration: none;
    &__image {
      width: 100%;
    }
  }
  &__form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__input__firstSection {
      width: 100%;
      margin-top: 2px;
      font-size: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    &__inputGroup {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__input {
        width: 48%;
        margin-top: 2px;
        font-size: 18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }
    &__actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &__action {
        width: 25%;
        height: 35px;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &__create {
          color: white;
          background-color: #93C49E;
          @extend .create-greenhouse-container__form__actions__action
        }
      }
    }
  }
}
