.create-feedback-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  &__form {
    &__actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &__action {
        width: 25%;
        height: 35px;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &__create {
          color: white;
          background-color: #93C49E;
          @extend .create-feedback-container__form__actions__action
        }
      }
    }
  }
}

.score-slider {
  width: 400px;
  margin-top: 20px;
}

.comment {
  width: 400px;
}