<h2 mat-dialog-title>Send Feedback</h2>
<mat-dialog-content class="mat-typography">
  <div class="create-seed-container">

    <form class="create-seed-container__form" 
    [formGroup]="createSeedForm" 
    (ngSubmit)="createSeed($event)">
      <mat-form-field class="create-seed-container__form__input__firstSection">
        <input matInput placeholder="Crop name" formControlName="name" type="text">
        <mat-error *ngIf="createSeedForm.controls['name'].invalid"></mat-error>
      </mat-form-field>
      
      <div class="create-seed-container__form__actions">
        <button
        mat-flat-button
        mat-dialog-close
        class="create-seed-container__form__actions__action">Cancel</button>

        <button
        type="submit"
        mat-flat-button
        [disabled]="createSeedForm.invalid"
        class="create-seed-container__form__actions__action__create">Send</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
