<h2 mat-dialog-title>Send Feedback</h2>
<mat-dialog-content class="mat-typography">
  <div class="create-feedback-container">

    <form class="create-feedback-container__form" 
    [formGroup]="createFeedbackForm" 
    (ngSubmit)="createFeedback($event)">

      <p>¿Qué valor le darías a tu cultivo con las variables actuales?</p>
      <mat-slider
      class="score-slider"
        thumbLabel
        [max]="5"
        [min]="0"
        [step]="1"
        [tickInterval]="1"
        formControlName="score">
      </mat-slider>

      <p>Escribe algún comentario extra</p>
      <mat-form-field class="comment" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="" formControlName="comment"></textarea>
      </mat-form-field>
      
      <div class="create-feedback-container__form__actions">
        <button
        mat-flat-button
        mat-dialog-close
        class="create-feedback-container__form__actions__action">Cancel</button>

        <button
        type="submit"
        mat-flat-button
        [disabled]="createFeedbackForm.invalid"
        class="create-feedback-container__form__actions__action__create">Send</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
