.delete-greenhouse-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__ad {
      font-size: 2rem;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #686868;
    }
    &__second-ad {
      font-size: 1rem;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #686868;
    }
    &__form__input {
      width: 100%;
      margin-top: 10px;
      font-size: 18px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    &__form__actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &__action {
        font-size: 18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &__delete {
          color: white;
          background-color: #FF5E5E;
          @extend .delete-greenhouse-container__form__actions__action
        }
      }
    }
  }
  