.login-container {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .login-logo-container {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(./../../../../../assets/images/fondo_login.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    &__img {
      width: 45%;
    }
  }
  
  .login-form {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .login-form-title-container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
      align-self: flex-end;
      font-size: 3.5rem;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #686868;
    }
    &__text {
      font-size: 2.2rem;
      margin: 15px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #686868;
    }
  }
  
  .login-form-container {
    width: 100%;
    height: 85%;
    display: flex;
    &__form {
      width: 100%;
      height: auto;
      display: flex;
      align-self: center;
      align-items: center;
      flex-direction: column;
      &__input {
        width: 80%;
        height: auto;
        margin-top: 15px;
        font-size: 22px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      &__submit {
        width: 50%;
        height: 50px;
        margin-top: 20px;
        font-size: 24px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        background-color: #93C49E;
      }
      &__register {
        margin-top: 20px;
        font-size: 24px;
        color: #707070;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &__link {
          text-decoration: underline;
          color: #93C49E;
        }
      }
    }
  }
  