.carousel-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .greenhouse-card-container {
    width: 400px;
    height: auto;
  }
  
  .card-actions-container {
    width: 400px;
    height: auto;
    margin-top: 30px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    &__delete {
      width: 34%;
      height: 50px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 25px;
      font-weight:lighter;
      background-color: #FF5E5E;
    }
  }
  
  .greenhouse-charts-container {
    width: 64%;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__chart {
      width: 100%;
      height: 150px;
    }
  }
  
  .summary-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    &__button {
      width: 16%;
      height: 60px;
      margin: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: lighter;
      font-size: 25px;
      color: #707070;
      background-color: #C3E1CA;
    }
  }
  