<div class="login-container">

    <div class="login-logo-container">
      <img 
      alt="logo_image"
      class="login-logo-container__img" 
      src="./../../../../../assets/images/ifarm_logo.svg">
    </div>

    <div class="login-form">

      <div class="login-form-title-container">
        <p class="login-form-title-container__title">Register</p>
      </div>

      <div class="login-form-container">

        <form 
        class="login-form-container__form" 
        [formGroup]="registerForm" 
        (ngSubmit)="signUpUser($event)">

          <mat-form-field class="login-form-container__form__input">
            <input 
            matInput
            type="text"
            placeholder="Name" 
            formControlName="name">
            <mat-error 
            *ngIf="registerForm.controls['name'].invalid">
                {{getErrorMessage("name")}}
            </mat-error>
          </mat-form-field>

          <mat-form-field 
          class="login-form-container__form__input">
            <input 
            matInput 
            type="text"
            placeholder="Email" 
            formControlName="email">
            <mat-error 
            *ngIf="registerForm.controls['email'].invalid">
                {{getErrorMessage("email")}}
            </mat-error>
          </mat-form-field>

          <mat-form-field 
          class="login-form-container__form__input">
            <input 
            matInput 
            placeholder="Password" 
            formControlName="password" 
            [type]="hidePassword ? 'password' : 'text'">
            <mat-error 
            *ngIf="registerForm.controls['password'].invalid">
                {{getErrorMessage("password")}}
            </mat-error>
            <button 
            matSuffix 
            mat-icon-button 
            (click)="hideOrUnhidePassword($event, 'hidePassword')">
              <mat-icon>
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field 
          class="login-form-container__form__input">
            <input 
            matInput 
            placeholder="Confirm password" 
            formControlName="confirmPassword" 
            [type]="hideConfirmPassword ? 'password' : 'text'">
            <mat-error 
            *ngIf="registerForm.controls['confirmPassword'].invalid">
                {{getErrorMessage("confirmPassword")}}
            </mat-error>
            <button 
            matSuffix 
            mat-icon-button 
            (click)="hideOrUnhidePassword($event, 'hideConfirmPassword')">
              <mat-icon>
                {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
          </mat-form-field>

          <button
          type="submit"
          mat-flat-button
          [disabled]="registerForm.invalid" 
          class="login-form-container__form__submit">
            Sign up
          </button>

          <p 
          class="login-form-container__form__register">
            You already have an account? 
            <a 
            class="login-form-container__form__register__link" 
            routerLink="/login">
                Login here
            </a>
          </p>
        
        </form>
      </div>
    </div>
  </div>
  